<div class="homepage">

{{#if posts}}
{{#each posts as |post| }}
<a href="/api/posts/{{post.id}}">
    <div class="row align-center mb-5">
        <div class="col-md-6">
            <h2>{{post.title}}</h2>
            <p>{{post.created_on}}</p>
        </div>
    </div>
</a>
{{/each}}
{{else}}
    <div class="row align-center mb-5">
        <h2>No posts yet! <span class="get-started"><a href="/dashboard">Get started here</a></span></h2>
    </div>
{{/if}}
</div>