* {
    background-color: rgba(202, 200, 197, .5);
}

.btn-custom {
    background-color: #0067ee;
    color: #030303;
}

.btn-custom:hover {
    background-color: rgb(43, 160, 249);
}

nav a:hover {
    text-decoration: none;
    cursor: default;
}

.teki {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: inline;
    border: 3px solid orange;
    margin-right: 50px;
    padding: 4px;
    background-color: rgba(243, 243, 57, 0.5);
    color: black;
    font-size: 20px;
}

.teki:hover {
    background-color: rgba(249, 249, 6, 0.5);
}

.post-div {
    border-bottom: 4px solid white;
}

.post-content {
    font-size: 25px;
}

.delete-btn {
    background-color: orange;
}

.delete-btn:hover {
    background-color: rgb(249, 249, 6);
}

.comments-div h3{
    font-size: 25px;
}

.comment-content {
    font-size: 22px;
}